.nav {
    display: flex;
    background: #fe024e;
    padding: 0 6rem;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.myUl {
    list-style: none;
    display: flex ;
    justify-content: space-between;
    width: 20%;
}

.link {
    text-decoration: none;
    color: #fff;
}